html {
  font-family: sans-serif;

}

body {
  background-image: url("https://github.com/MaMyT1983/Number-guessing-game/blob/main/images/numbers_blue.jpg?raw=true");
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 2%;
  text-align: center;
  width: 100%;

}

h1 {
  font-size: 4rem;
  padding-bottom: 30px;
  text-shadow: 0 0 5px #7DCE13;
  text-shadow: 0 0 10px #100F0F;
}

/* Containers */

.gamecontainer {
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.5;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  text-shadow: 0 0 5px #7DCE13;
  text-shadow: 0 0 10px #100F0F;
}

.form input[type="number"] {
  width: 100%;
}

.rules {
  padding-bottom: 10px;
}

.guessField {
  border-color: #80558C;
  color: #781C68;
  font-size: 1.8rem;

}

.lastResult {
  color: inherit;

}

/* Buttons */

button {
  background-color: #AF7AB3;
  font-weight: bold;
  color: #fff;
  padding: 10px 16px;
  font-size: 1.5rem;
  border-radius: .5rem;
  transition: all .15s cubic-bezier(0.4,0,0.2,1);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #80558C;
}

.submitbutton {
    background-color: #80558C;
    font-weight: bold;
    color: #fff;
    padding: 10px 16px;
    font-size: 1.5rem;
    border-radius: .5rem;
    transition: all .15s cubic-bezier(0.4,0,0.2,1);
    border: none;
    cursor: pointer;
  }

  .submitbutton:hover {
    background-color: #AF7AB3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

@media (max-width: 1028px) {
   .gamecontainer {
     width: 80%;
   }

   body {
    background-image: url("https://github.com/MaMyT1983/Number-guessing-game/blob/main/images/numbers_blue_high.jpg?raw=true");
    background-color: #DDDDDD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 5%;
    text-align: center;
    height: 1600px;
  }

  .heading {
    font-size: 6rem;
  }

  p {
    font-size: 3rem;
  }

  .enteritem {
    font-size: 3rem;
    padding: 15px;
  }

  .form input[type="number"] {
    width: 50%;
  }
  
}

